*{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

.page-title{
    background-image: url(image/page-title.png);
    background-size: cover;
    background-repeat: no-repeat;
    
}

.row-md h1{
    padding: 17vh 0 17vh 0;
    
    font-size: 5vw;
    font-weight: bold;
    color: white;
    text-shadow: 2px 5px 4px #000000;
   
    
}

#cont1{
    margin-bottom: 4rem;
}

#cont2{
    margin-bottom: 4rem;
}
#cont2 .img-fluid{
    height: fit-content;
    width: 6vw;
    min-width: 20%;
    max-width: 30%;
}

#row3{
    margin: 3rem 0 3rem 0 ;
}

.row{
    text-align: center;

}

.row h3{
    font-weight: bold;
}

.row p, a{
    color: #828692;
}

.form{
    background-color:#062d88 ;
    padding: 1rem;

}

#cont2 h3{
    font-size: 2vw;

}

.form .col-md h4{
    color: white;
    font-size: 1.4vw;
    margin-bottom: 40px;
}

.form form button{
    width: 10rem;
    font-size: 20px;
    border-radius: 20px;
    color: white;
    font-weight: bold;
    background-color: #ee1c27;
    border: none;
    
    
    
    
}

#row3 .col-md iframe{
    height: 26rem ;
    width: 33vw;
}


#row3 .col-md a span{
    display: none;
}

.page-footer{
    background-color: white !important;
}
.page-footer .col-md small{
        
    font-size: 15px;
    height: fit-content;
    color: #062d88 !important;
    
    

}

.page-footer .col-md .fab{
    color: #062d88 !important;
    height: auto;
    

}
/*MEDIA QUERIES*/

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
    .row-md h1{
        font-size: 10vw;
    }

    #cont2 .col-md {
       margin-bottom: 3rem;
    }

    #row3 .col-md iframe{
        height: 22rem ;
        width: 70vw ;
       
    }
    #cont2{
        margin-bottom: 1rem;
    }
    #cont2 h3{
        font-size: 6vw;
    
    }
    .form .col-md h4{
        color: white;
        font-size: 5vw;
        margin-bottom: 40px;
    }
}


/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
    
    #row3 .col-md iframe{
        height: 80%;
        width:fit-content;
    }
    .form .col-md h4{
        color: white;
        
        font-size: 2.1vw;
    }

  
    .form .col-md h4{
        color: white;
        font-size: 2vw;
        margin: 0 0 40px 0;

    }

    #cont2 h3{
        font-size: 3vw;
    
    }
}




/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
    #row3 .col-md iframe{
        height: 29rem ;
        width: 27vw;
    }
    .form .col-md h4{
        color: white;
        
        font-size: 1.5vw;
    }

    #cont2 h3{
        font-size: 1.4vw;
    
    }
}




